absl-py==0.12.0
bert-extractive-summarizer==0.7.1
wheel
blis==0.7.4
boto3==1.17.57
botocore==1.20.57
catalogue==2.0.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
Cython==0.29.21
decorator==4.4.2
spacy==3.0.5
spacy-legacy==3.0.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
filelock==3.0.12
gensim==3.6.0
idna==2.10
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
MarkupSafe==1.1.1
murmurhash==1.0.5
networkx==2.5.1
nltk==3.6.1
numpy==1.20.2
packaging==20.9
pandas==1.2.4
pathy==0.4.0
preshed==3.0.5
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
rouge==1.0.0
rouge-score==0.0.4
s3transfer==0.4.2
sacremoses==0.0.44
scikit-learn==0.24.1
scipy==1.6.2
sentencepiece==0.1.95
six==1.15.0
sklearn==0.0
smart-open==3.0.0
srsly==2.4.1
summarizer==0.0.7
thinc==8.0.2
threadpoolctl==2.1.0
tokenizers
torch==1.8.1
tqdm==4.60.0
transformers
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wasabi==0.8.2
